.projects-list {
    display: flex;
    margin: auto;
    margin-bottom: 40px;
    flex-direction: column;
    flex-wrap: wrap;
}

.project-container {
    background-color: var(--project-background-color);
    margin: 20px;
    padding: 20px 30px;
    text-align: left;
    display: inline-block;
}

.project-container {
    /* border: 2px solid rgb(212, 209, 209); */
    box-shadow: 12px 12px 2px 1px var(--box-shadow-color);
    outline: 2px solid var(--border-color);
    border-radius: var(--border-radius);
}

.project-container:hover {
    outline: 4px solid var(--border-color)
}

ul {
    padding: 0;
    margin-left: 20px
}

li {
    display: inline-block;
}

.links {
    float: right;
}

a {
    color: var(--icon-link-color)
}

.project-container > img {
    width: 500px;
    height: 260px;
    border-radius: 10px;
    margin: auto;
}



