.skill {
  background-color: var(--button-color);
  border-radius: 40px;
  color: rgba(29, 26, 26, 0.857);
  padding: 10px;
  margin: 5px;
  display: inline-block;
  box-shadow: 5px 5px 2px 1px var(--box-shadow-color);
}

.skills-container {
  display: block;
  margin: auto;
  outline: 2px solid var(--border-color);
  background-color: var(--project-background-color);
  margin: 20px;
  padding: 20px 30px;
  text-align: left;
  display: inline-block;
  min-height: auto;
  text-align: left;
  border-radius: var(--border-radius);
  box-shadow: 12px 12px 2px 1px var(--box-shadow-color);
}

.skills-container:hover {
    outline: 4px solid var(--border-color);
}
