.resume-container {
    width: 70%;
    background-color: white;
    margin: auto;
    padding: 20px;
    max-width: 1000px;
}

h3, h4, ul {
    display: block;
    text-align: left;
}

h3 {
    color: rgba(8, 152, 200, 0.984);
    text-decoration: underline;
}


