---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import NavBar from "../components/NavBar.astro";

import { Icon } from "astro-icon";
---

<Layout title="Mimi Damnjanovic">
  <main>
    <NavBar />
    <section class="mt-[100px]">
      <h1>Hi I'm Mimi, welcome to <span class="text-gradient">my website!</span></h1>
    </section>
    <section id="about-me">
      <h2>About me</h2>
      <div class="flex items-start gap-10 flex-wrap">
        <img
          class="h-[200px] w-[200px] inline-block object-cover rounded-lg border-solid border-4 border-teal-200"
          src="profile_pic.png"
        />
        <div>
          <p class="inline-block mb-5">
            I'm a recent computer science and physics graduate from the
            University of Toronto.
          </p>
          <p class="inline-block mb-5">
            I have ~1.5 years (16 months) of experience as a software engineer
            intern working at
            <a href="https://www.securitycompass.com/">Security Compass</a>
             where I worked on
            <a href="https://www.securitycompass.com/sdelements/">SD Elements</a
            >.
          </p>
          <p class="inline-block">
            Outside of programming and work I like to play video games 🎮 (ask me about farming sims), 
          </p>
        </div>
      </div>
    </section>
    <section id="experience">
      <h2 class="mt-20">Experience</h2>
      <h3 class="font-semibold text-2xl">Security Compass</h3>
      <h4 class="italic">Software Engineer Intern</h4>
      <span class="text-sm">May 2020-Aug 2021 (16 months)</span>
      <ul>
        <li class="text-md list-disc ml-[20px]">
          Built an analytics dashboard using Cube, React, Recharts and
          PostgreSQL
        </li>
        <li class="text-md list-disc ml-[20px]">
          Wrote automated CI/CD end-to-end tests using Cypress
        </li>
      </ul>
    </section>
    <section id="skills">
      <h2 class="mt-20">Skills</h2>
      <p class="mb-[10px]">The skills that I'm most comfortable with.</p>
      <h3>Languages:</h3>
      <ul class="mt-[10px] mb-[10px] inline-block">
        {
          ["JavaScript", "TypeScript", "Python", "HTML/CSS"].map((stack) => {
            return (
              <li class="rounded-full inline-block bg-slate-600 p-[5px] text-sm mr-[5px]">
                {stack}
              </li>
            );
          })
        }
      </ul>
      <h3>Frameworks/Libraries:</h3>
      <ul class="mt-[10px] inline-block">
        {
          [
            "Django/Django Rest Framework",
            "React.js",
            "Express.js",
            "Node",
            "Next.js",
            "Tailwind CSS",
            "Cypress",
          ].map((stack) => {
            return (
              <li class="rounded-full inline-block bg-slate-600 p-[5px] text-sm mr-[5px]">
                {stack}
              </li>
            );
          })
        }
      </ul>
    </section>
    <section id="projects">
      <h2 class="mt-20">Projects</h2>
      <ul role="list" class="link-card-grid">
        <ProjectCard
          title="My Plant Diary"
          description={`A full-stack web app that helps you keep your houseplants alive built with React, Django and PostgreSQL.`}
          summaryPoints={[
            "Lets you schedule plant care tasks (e.g. watering, repotting, pruning), take notes and make progress updates",
            "Uses Firebase Cloud Storage to handle image uploads",
          ]}
          techStack={[
            "React",
            "Material UI",
            "Django",
            "Django Rest Framework",
            "PostgreSQL",
            "Firebase",
          ]}
          githubLink="https://github.com/mdamnjan/my-plant-diary"
          liveLink="https://my-plant-diary.up.railway.app/"
        />
        <ProjectCard
          title="GitHub Stats Viewer"
          description="A web app that lets you see cool stats related to a GitHub user's account or repository."
          summaryPoints={[
            "Uses GitHub Oauth to allow users to include their private repositories in the calculated stats",
          ]}
          techStack={[
            "React",
            "Chart.js",
            "Bootstrap",
            "Node",
            "Express",
            "GitHub API",
          ]}
          githubLink="https://github.com/mdamnjan/gh-stats-viewer"
          liveLink="https://gh-stats-viewer.up.railway.app/"
        />
        <ProjectCard
          title="Personal Website"
          description="The website you're on right now! I recently rebuilt it using Astro.js 🚀. It automatically deploys to GitHub Pages when I push any changes thanks to GitHub Actions."
          techStack={["Astro.js", "CSS", "GitHub Actions", "GitHub Pages"]}
          githubLink="https://github.com/mdamnjan/mdamnjan.github.io/"
          liveLink="https://mdamnjan.github.io/"
        />
        <ProjectCard
          title="Nuit Blanche Scraper"
          description={"A Python/Selenium scraper that grabs exhibit information from the Toronto 2023 Nuit Blanche website and preps it to be imported into Google My Maps.\n\nI used it to generate the map below (click on an icon to see get the exhibit's details and directions):"}
          techStack={["Python", "Selenium"]}
          githubLink="https://github.com/mdamnjan/nuit-blanche-scraper"
        />
        <ProjectCard
          title="@sdelements/flan"
          description="A CLI tool I helped build during my time at Security Compass that leverages Git to allow easy and efficient sharing and loading of Postgres instances."
          techStack={["Typescript", "Oclif"]}
          githubLink="https://github.com/sdelements/flan"
        />
      </ul>
    </section>
    <section class="mt-[40px]" id="contact">
      <h2>Contact</h2>
       Feel free to reach out through any of the following methods, I'm always
      open to chat!
      <div
        class="flex items-center justify-around max-[500px] mr-auto mt-10 mb-20"
      >
        <span class="inline-block align-middle" html-for="email"
          >Email:
          <a
            class="inline-block align-middle"
            id="email"
            aria-label="email"
            href="mailto:midamnjan@gmail.com"
          >
            <Icon height="24px" width="24px" pack="mdi" name="envelope" />
          </a>
        </span>
        <span class="inline-block align-middle" html-for="github"
          >GitHub:
          <a
            class="inline-block align-middle"
            id="github"
            arial-label="github"
            href="https://github.com/mdamnjan"
            target="_blank"
            rel="noreferrer"
          >
            <Icon height="24px" width="24px" pack="mdi" name="github" />
          </a>
        </span>
        <span class="inline-block align-middle" html-for="linkedin"
          >LinkedIn:
          <a
            class="inline-block align-middle"
            id="linkedin"
            aria-label="linkedin"
            href="https://ca.linkedin.com/in/mimi-damnjanovic"
            target="_blank"
            rel="noreferrer"
          >
            <Icon height="24px" width="24px" pack="mdi" name="linkedin" />
          </a>
        </span>
      </div>
    </section>
    <p class="text-center font-thin text-sm">
      Made with ❤️ by Mimi Damnjanovic
    </p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: calc(100% - 20px);
    max-width: 1100px;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  section:first-of-type {
    min-height: calc(100vh - 130px);
    margin: 30px auto;
  }
  a {
    color: aquamarine;
    text-decoration: underline;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    margin-bottom: 1em;
  }

  h2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    text-align: left;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    gap: 2rem;
    display: grid;
  }
</style>
