.navbar {
    background-color: var(--footer-color);
    margin-bottom: 5%;
    justify-content: flex-end;
    display: flex;
    padding: 20px;
}

.navbar-item {
    margin-right: 10px;
    text-decoration: none;
    font-size: x-large;
}

.current-navbar {
    text-decoration: underline;
}

.navbar-item:hover {
    text-decoration: underline;
}

p {
    font-size: x-large;
}