---

---

<header class="bg-acquamarine h-[40px] block sticky top-0 p-[10px]">
  <nav>
    <ul class="flex gap-6 float-right">
      <li><a href="#about-me" class="text-sm font-medium">About</a></li>
      <li><a href="#experience" class="text-sm font-medium">Experience</a></li>
      <li><a href="#skills" class="text-sm font-medium">Skills</a></li>
      <li><a href="#projects" class="text-sm font-medium">Projects</a></li>
      <li><a href="#contact" class="text-sm font-medium">Contact</a></li>
    </ul>
  </nav>
</header>
