:root {
  --background-color: #56638A ;
  --footer-color: #464c80;
  --box-shadow-color: rgba(0, 19, 40, .4);
  --text-color: white;
  --button-color: rgb(203, 203, 207);
  --hover-color: aquamarine;
  --border-color: white;
  --project-background-color: #464c80;
  --link-color: rgb(103, 255, 247);
  --icon-link-color: rgb(245, 245, 245);
  --border-radius: 30px;
}

.App {
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
}

p {
  font-size: x-large;
  margin: auto;
  width: 90%;
  padding-bottom: 20px;
}

@media only screen and (max-width: 800px) {
  p {
    font-size: large;
  }
}

footer {
  width: 100%;
  margin: auto; 
  padding: 4% 0%;
  background-color: var(--footer-color);
}

footer > a {
  color: var(--icon-link-color)
}

button {
  border-radius: 30px;
  background-color: var(--button-color);
  border: none;
  padding: 5px 20px;
  margin: 20px;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 40px;
  object-fit: cover;
  outline: 3px solid var(--border-color);
  filter: contrast(0.8)
}

img:hover {
  outline: 5px solid var(--border-color);}

nav > a {
  text-decoration: none;
  color: inherit
}

p > a {
  color: var(--link-color)
}

.bi {
  margin: 4px;
  display: inline-block;
  padding: 5px;
  transform: scale(1.5);
}

.bi:hover {
  color: var(--hover-color);
  scale: 1.2;
}

section {
  width: 100%;
  margin: auto;
  max-width: 1000px;
}

section > p {
  text-align: left;
}