<section id="experience">
  <h2 class="mt-[20px]">Experience</h2>
  <h3 class="font-semibold text-2xl">
    Software Engineer Intern @ Security Compass
  </h3>
  <span class="text-sm">May 2020-Aug 2021 (16 months)</span>
  <ul>
    <li class="text-xl list-disc m-[15px]">
      Worked on a scrum team with other developers, designers, product managers and
      QA to build and maintain reporting/analytics functionalities for <a
        href="https://www.securitycompass.com/sdelements/"
        target="_blank"
        rel="noreferrer">SD Elements</a
      >, following agile methodologies
    </li>
    <li class="text-xl list-disc m-[15px]">
      Developed reporting API endpoints using Django Rest Framework, Cube and
      PostgreSQL used by clients as well as internally to power application-wide
      reporting
    </li>
    <li class="text-xl list-disc m-[15px]">
      Created an analytics dashboard builder using React, Typescript, Cube and
      Django REST Framework, allowing users to create custom dashboards and
      widgets to visualize the security health of their applications in a
      digestible format
    </li>
    <li class="text-xl list-disc m-[15px]">
      Built out a suite of automated CI/CD end-to-end tests using Cypress and
      Cucumber, greatly reducing regression testing time per release
    </li>
  </ul>
</section>

<style>
  h2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    text-align: left;
    margin-bottom: 1em;
  }

  a {
    color: aquamarine;
    text-decoration: underline;
  }
</style>
