---
import ProjectCard from "../components/ProjectCard.astro";
---

<section id="projects">
  <h2 class="mt-[20px]">Projects</h2>
  <p class="mb-[10px]">Some projects I've worked on.</p>
  <ul role="list" class="link-card-grid">
    <ProjectCard
      title="My Plant Diary"
      description={`A full-stack web app that helps you keep your houseplants alive built with React, Django and PostgreSQL.`}
      summaryPoints={[
        "Lets you schedule plant care tasks (e.g. watering, repotting, pruning), take notes and make progress updates",
        "Uses Firebase Cloud Storage to handle image uploads",
      ]}
      techStack={[
        "React",
        "Material UI",
        "Django",
        "Django Rest Framework",
        "PostgreSQL",
        "Firebase",
      ]}
      githubLink="https://github.com/mdamnjan/my-plant-diary"
      liveLink="https://my-plant-diary.up.railway.app/"
    />
    <ProjectCard
      title="GitHub Stats Viewer"
      description="A web app that lets you see cool stats related to a GitHub user's account or repository."
      summaryPoints={[
        "Features a sign in with GitHub Oauth option allowing users to include their private repositories in the calculated stats",
        "Powered by GitHub's REST and GraphQL endpoints",
      ]}
      techStack={[
        "React",
        "Chart.js",
        "Bootstrap",
        "Node.js",
        "Express.js",
        "GitHub API",
        "Docker"
      ]}
      githubLink="https://github.com/mdamnjan/gh-stats-viewer"
      liveLink="https://gh-stats-viewer.up.railway.app/"
    />
    <ProjectCard
      title="Personal Website"
      description="The website you're on right now! Recently rebuilt using Astro.js 🚀 and Tailwind CSS.\n Uses GitHub Actions to automatically deploy to GitHub Pages anytime I push changes to my repository."
      techStack={["Astro", "Tailwind CSS", "GitHub Actions", "GitHub Pages"]}
      githubLink="https://github.com/mdamnjan/mdamnjan.github.io/"
      liveLink="https://mdamnjan.github.io/"
    />
    <ProjectCard
      title="Nuit Blanche Scraper"
      description={"A Python/Selenium scraper that grabs exhibit information from the Toronto 2023 Nuit Blanche website and preps it to be imported into Google My Maps.\n\nUsed to generate the map below (click on an icon to see get the exhibit's details and directions):"}
      techStack={["Python", "Selenium"]}
      githubLink="https://github.com/mdamnjan/nuit-blanche-scraper"
    >
      <iframe
        slot="embedded"
        title="Google My Maps"
        src="https://www.google.com/maps/d/u/0/embed?mid=14A7B4a7-pqqFu2PgVr7gx8CJ6p1EGdo&ehbc=2E312F"
        height="300"
        width={"100%"}
        class="mw-[500px] mt-[20px]"></iframe>
    </ProjectCard>
    <ProjectCard
      title="@sdelements/flan"
      description="A handy CLI tool my team and I at Security Compass built. Leverages Git to allow easy and efficient sharing/loading of Postgres instances."
      techStack={["Typescript", "Oclif"]}
      githubLink="https://github.com/sdelements/flan"
      liveLink="https://www.npmjs.com/package/@sdelements/flan"
    />
  </ul>
</section>

<style>
  h2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    text-align: left;
    margin-bottom: 1em;
  }

  .link-card-grid {
    gap: 2rem;
    display: grid;
  }
</style>
